<!DOCTYPE html>
<html>
  <head>
    <title>Spacealiens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="container-fluid">
	  <div class="row">
		  <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
          <a class="navbar-brand px-3" href=""><img src="/image/logo1.png">Spacealiens</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="http://localhost:3000/aliens">Aliens</a>
            <a class="nav-link" href="http://localhost:3000/planets">Planetas</a>
            <a class="nav-link" href="http://localhost:3000/powers">Poders</a>
          </div>
        </div>
        </nav>
              
        <div class="container-fluid">
        <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
