<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Aliens</title>

    <!--<p id="notice"><%= notice %></p>-->
    
  </head>

  <body>
    <!-- <p id="notice"><%= notice %></p>-->
    <h1>Aliens</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Planet</th>
          <th>Power</th>
          <th colspan="3"></th>
        </tr>
      </thead>

    <tbody>
      <% @aliens.each do |alien| %>
        <tr>
          <td><%= alien.name %></td>
          <td><%= alien.age %></td>
          <td><%= alien.planet.name %></td>
          <td><%= alien.powers.name %></td>
          <td><%= link_to 'Ver', alien %></td>
          <td><%= link_to 'Editar', edit_alien_path(alien) %></td>
          <td><%= link_to 'Deletar', alien, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <br>

    <%= link_to 'Novo Alien', new_alien_path %>

  </body>
</html>