<p id="notice"><%= notice %></p>

<h1 class="text-center">Aliens</h1>

<div class="table-responsive">
<table class= "table table-bordered border-dark">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Planet</th>
      <th>Power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aliens.each do |alien| %>
      <tr>
        <td><%= alien.name %></td>
        <td><%= alien.age %></td>
        <td><%= alien.planet.name %></td>
        <td><%= alien.powers.pluck(:name).join(",")  %></td>
        <td><%= link_to 'Show', alien %></td>
        <td><%= link_to 'Edit', edit_alien_path(alien) %></td>
        <td><%= link_to 'Destroy', alien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<button type="button" class="btn btn-dark "><%= link_to 'New Alien', new_alien_path %></button>


